<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skvirel</title>
</head>
<body>
    <h1>Skvirel</h1>
    <p>Группа СКВИРЕЛ была образована в Минске в 1994 году. Сегодня компания включает в себя полноценные отделения в 14 городах Беларуси и России.</p>
    <p>Основной бизнес компании — импорт и розничная продажа керамической плитки и мозаики, а также наборов столовой посуды европейских производителей.</p>
    <p>За 30 лет плодотворной работы Группа СКВИРЕЛ открыла более 35 специализированных салонов, став при этом крупнейшим импортёром итальянской плитки в Беларуси и России.</p>
    <p>Профессиональный подход к ведению бизнеса позволил не только достичь успеха в области итальянской плитки и натурального камня, но также открыть и развивать новые направления бизнеса: сантехники, итальянской мебели, европейской посуды для кухни премиум-класса, а также строительной химии.</p>   
    <p>Главная цель Группы СКВИРЕЛ— предоставить клиентам возможность приобрести продукцию самого высокого качества с уникальным дизайном от лучших мировых производителей. Профессиональные сотрудники отделений и салонов компании приложат максимум усилий, чтобы каждый реализованный проект превзошёл все ожидания.</p>
    <a href="https://www.skvirel.by">Skvirel.by</a>
</body>
</html>